html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  display: grid;
}

.app {
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.center {
  text-align: center;
}

.buttons {
  width: 100%;
  height: 100%;
}

.link {
  width: 100%;
  height: 100%;
}

.fill-vert {
  min-height: 100vh;
  height: 100%;
}

.button {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  background-color: #35636e;
  border: solid 0 #35636e;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  width: inherit;
  height: inherit;
}

.button:hover {
  color: #35636e;
  background-color: #5fb0c4;
}

.button:active {
  background-color: #274852;
}