.all_container {
    background-color: #35636e;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    color: white;
}

.data {
    border-radius: 10px;
    background: #1e4149;
    margin-bottom: 10%;
}

.table-cell {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.table-row {
    border-top: 2px solid #566666;
}

.data:hover {
    cursor: pointer;
}

.modal-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
.modal-value {
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.custom-modal-body {
    display: flex;
  }
  
  .custom-modal-column {
    flex: 1;
    margin-right: 20px;
  }