.change_container {
    background-color: #35636e;
    padding: 20px;
    /*margin-top: 45%;*/
    border-radius: 2rem;
    color: white;
}

.font-size {
    font-size: 3rem;
}

.exchange {
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 2rem;
    min-height: 60vh;
    max-width: 90%;
    background-color: #35636e;
    padding: 1rem;
}

.input_div {
    max-width: 10%;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.input {
    padding: 1rem;
    background-color: #274852;
    border: solid 0;
    transition: 0.2s;
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    text-align: center;
}

.button {
    white-space: nowrap;
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 15px;
    background-color: #35636e;
    border: solid 0;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    width: inherit;
    height: inherit;
    margin-left: 20px;
}

.button:hover {
    color: #35636e;
    background-color: white;
}

.button:active {
    background-color: #274852;
}

.input:focus {
    outline: none;
}

.pools-container {
    background-color: #274852;
}

.all_container {
    background-color: #35636e;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    color: white;
}

.data {
    border-radius: 10px;
    background: #1e4149;
    margin-bottom: 10%;
}