.rounded-input {
    border-radius: 1rem 1rem 0 0 !important;
    background-color: #315969 !important;
}

.rounded-input-left {
    border-radius: 1rem 0 0 0 !important;
    background-color: #315969 !important;
}


.rounded-input-right {
    border-radius: 0 1rem 0 0 !important;
    background-color: #315969 !important;
}

.rounded-input-empty {
    border-radius: 1rem !important;
    background-color: #315969 !important;
}